<div>
  <div class="container">
  <div class="center">
    <h2>Add Program</h2>
    </div>
    <form class="form-horizontal" name="form" ng-submit="save(form)">
      <div class="form-group">
        <label class="control-label col-sm-2" for="email">Program  Name:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="email" ng-model="program.name" placeholder="Enter Program name" name="email">
        </div>
      </div>
 
      <div class="form-group">
      <label class="control-label col-sm-2" for="email">About program:</label>  
            <div text-angular ng-model="program.about" name="content"></div>
        </div>
      <div class="form-group">        
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
