<navbar></navbar>
<div class="container">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="text-center">
					<h1  class="title">{{program.name}}</h1>
				</div>
				<div ng-if="courses.length > 0">
					<span><h3 class="title">Courses Offered</h3></span>
					<ul ng-repeat="course in courses">
						<li >
							<a href ="/viewCourse/{{course.shortname}}" >{{course.course}}</a>
							
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div ng-cloak>
					<md-content>
						<div ta-bind ng-model="program.about"></div>
					</md-content>
				</div>
			</div>
			<div class="col-md-4">
				<enquiry></enquiry>
			</div>
		</div>
	</div>
</div>
<footer></footer>