<div class="enquiry">
  <div class="row main">
    <div class="main-login main-center">
      <h3 class="text-center">Want to Know More?</h3>
      <form  name="form" ng-submit="save(form)">

        <div class="form-group">
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
              <input type="text" class="form-control" name="name" id="name" ng-model="enquiry.name" placeholder="Enter your Name"/>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
              <input type="email" class="form-control" name="email" id="email" ng-model="enquiry.email" placeholder="Enter your Email"/>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
              <input type="text" class="form-control" name="username" id="username" ng-model="enquiry.phone"  placeholder="Enter your Mobile No."/>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
              <select class="form-control" name="programs" ng-model="enquiry.city" data-live-search="true">
                <option value="" selected disabled>Please select city</option>
                <option ng-repeat="city in cities" value="{{city}}" >{{city}}</option>
              </select>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
              <select class="form-control" name="programs" ng-model="enquiry.college"  ng-change="update()" data-live-search="true">
                <option value="" selected disabled>Please select Institute</option>
                <option ng-repeat="col in colleges" value="{{col._id}}" ng-selected="selectedItem == col._id">{{col.name}}</option>
              </select>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
              <select class="form-control" name="programs" ng-model="enquiry.course" data-live-search="true">
                <option value="" selected disabled>Please select Course</option>
                <option ng-repeat="course in subcourses" value="{{course.course}}">{{course.course}}</option>
              </select>
            </div>
          </div>
        </div>


        <div class="form-group">

          <div class="cols-sm-12">
            <div class="form-group">
              <textarea id="TextArea" class="form-control"   ng-model="enquiry.comments"  placeholder="Enter your comments">
              </textarea> 
            </div>
          </div>
        </div>

        <div class="form-group ">
         <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Submit Your Query</button>
       </div>

     </form>
   </div>
 </div>
</div>